[buildout]

extends =
    https://raw.githubusercontent.com/4teamwork/opengever.core/master/sources.cfg
    https://raw.github.com/4teamwork/ftw-buildouts/master/test-plone-4.3.x.cfg
    https://raw.githubusercontent.com/4teamwork/opengever.core/master/versions.cfg
    base-testing.cfg

auto-checkout -=
    opengever.maintenance

auto-checkout +=
    opengever.core

[test]
# this can be removed when we update to ftw.keywordwidget > 2.1.2
eggs +=
    unittest2
